@charset "utf-8"; 
@import url(reset.css);

body {
  /* background-color: rgb(232, 232, 232); */
  background-color: rgba(122, 134, 212, 0.3);
  overflow: hidden;
}

/* login-form ===================================== */
#login-form {
  position: absolute;
  top: calc(50% - 16rem);
  left: calc(50% - 20rem);
  width: 40rem;
  height: 25rem;
  text-align: center;
  border: 1px solid #999999;
  border-radius: 0.5rem;
  background-image: url("../img/landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65% center;
}
.formbox {
  position: relative;
  top: 10rem;
}
.inp {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.smt {
  width: 100px;
  height: 52px;
  font-size: 20px;
  color: #3c3d75;
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
}


/* content ===================================== */
.content {
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#clock {
  color: #FFFFFF;
  font-size: 5rem;
}

.hidden {
  display: none;
}
