@charset "utf-8"; 
@import url(reset.css);

body {
  /* background-color: rgb(232, 232, 232); */
  background-color: rgba(122, 134, 212, 0.3);
  overflow: hidden;
}
.hidden {
  display: none;
}

/* login-form ===================================== */
#login-form {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../img/deskback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form-box {
  position: absolute;
  top: calc(50vh - 65px);
  left: calc(50vw - 200px);
}
.inp {
  width: 400px;
  height: 60px;
  text-align: center;
  font-size: 26px;
  border: 3px solid #999999;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.smt {
  width: 406px;
  height: 66px;
  font-size: 26px;
  color: #FFF;
  border: 3px solid rgb(194, 168, 199);
  border-radius: 5px;
  background-color: #2f083b;
  cursor: pointer;
}


/* content ============================ */
.content {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#clock {
  color: #FFFFFF;
  font-size: 5rem;
}

/* 현재 날씨 ============================ */
.weather-box {
  position: absolute;
  top: 20px;
  left: 20px;
}
.weather-box > span {
  color: #FFF;
  font-size: 20px;
}

/* 랜덤 명언 ============================ */
.quote-box {
  position: absolute;
  bottom: calc(0vh + 20px);
  left: calc(50vw - 350px);
  width: 700px;
  height: 64px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}
.quote-box > div {
  font-size: 18px;
  color: #FFF;
  padding-top: 3px;
}